bkb-output-*.*
video/*
bkbTextureTool/bin/*.app
bkbTextureTool/bkbTextureTool.xcodeproj/project.xcworkspace/xcuserdata/tekt.xcuserdatad/UserInterfaceState.xcuserstate

bkbTextureTool/bkbTextureTool.xcodeproj/xcuserdata/tekt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

bkbTextureTool/bkbTextureTool.xcodeproj/project.xcworkspace/xcshareddata/bkbTextureTool.xccheckout
