bkb-output-*.*
bkb-renderer-output-*.*
video/*
bkbTextureTool/bin/*.app
bkbTextureTool/bkbTextureTool.xcodeproj/project.xcworkspace/xcuserdata/*
bkbTextureTool/bkbTextureTool.xcodeproj/xcuserdata/*

bkbTextureTool/bkbTextureTool.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout

CrashAutoSave.toe

*.dmp
